# Dependências e builds
node_modules
.next
out

# Controle de versão
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Ambientes
.env
.env.*

# Logs e caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.bun
.cache
coverage
tmp
